body{
	background-color: lightgrey ;
	color: orange ;
	text-align: center ;
}

h1 {
	color: magenta ;
}
h2 {
	color: cyan ;
}

h3 {
	color: rgb(63, 92, 62) ;
}

h4 {
	color : yellow ;
}

p {
	color: brown;
}